RESISC45/
ODML-Swin-Transformer/data/imagenet/
ODML-Swin-Transformer/pretrained/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# launch bash
*.sh
# nsight system report files
*.nsys-rep
*.sqlite

# C extensions
*.so

# Distribution / packaging
.Python
ODML-Swin-Transformer/build/
ODML-Swin-Transformer/develop-eggs/
ODML-Swin-Transformer/dist/
ODML-Swin-Transformer/downloads/
ODML-Swin-Transformer/eggs/
ODML-Swin-Transformer/.eggs/
ODML-Swin-Transformer/lib/
ODML-Swin-Transformer/lib64/
ODML-Swin-Transformer/parts/
ODML-Swin-Transformer/sdist/
ODML-Swin-Transformer/var/
ODML-Swin-Transformer/wheels/
ODML-Swin-Transformer/pip-wheel-metadata/
ODML-Swin-Transformer/share/python-wheels/
ODML-Swin-Transformer/*.egg-info/
ODML-Swin-Transformer/.installed.cfg
ODML-Swin-Transformer/*.egg
ODML-Swin-Transformer/MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
ODML-Swin-Transformer/*.manifest
ODML-Swin-Transformer/*.spec

# Installer logs
ODML-Swin-Transformer/pip-log.txt
ODML-Swin-Transformer/pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
ODML-Swin-Transformer/*.mo
ODML-Swin-Transformer/*.pot

# Django stuff:
ODML-Swin-Transformer/*.log
ODML-Swin-Transformer/local_settings.py
ODML-Swin-Transformer/db.sqlite3
ODML-Swin-Transformer/db.sqlite3-journal

# Flask stuff:
ODML-Swin-Transformer/instance/
ODML-Swin-Transformer/.webassets-cache

# Scrapy stuff:
ODML-Swin-Transformer/.scrapy

# Sphinx documentation
ODML-Swin-Transformer/docs/_build/

# PyBuilder
ODML-Swin-Transformer/target/

# Jupyter Notebook
ODML-Swin-Transformer/.ipynb_checkpoints

# IPython
ODML-Swin-Transformer/profile_default/
ODML-Swin-Transformer/ipython_config.py

# pyenv
ODML-Swin-Transformer/.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
ODML-Swin-Transformer/__pypackages__/

# Celery stuff
ODML-Swin-Transformer/celerybeat-schedule
ODML-Swin-Transformer/celerybeat.pid

# SageMath parsed files
ODML-Swin-Transformer/*.sage.py

# Environments
ODML-Swin-Transformer/.env
ODML-Swin-Transformer/.venv
ODML-Swin-Transformer/env/
ODML-Swin-Transformer/venv/
ODML-Swin-Transformer/ENV/
ODML-Swin-Transformer/env.bak/
ODML-Swin-Transformer/venv.bak/

# Spyder project settings
ODML-Swin-Transformer/.spyderproject
ODML-Swin-Transformer/.spyproject

# Rope project settings
ODML-Swin-Transformer/.ropeproject

# mkdocs documentation
ODML-Swin-Transformer//site

# mypy
ODML-Swin-Transformer/.mypy_cache/
ODML-Swin-Transformer/.dmypy.json
ODML-Swin-Transformer/dmypy.json

# Pyre type checker
ODML-Swin-Transformer/.pyre/